<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <form action="/user" method="post">
        <table class=" table-responsive col-sm-8 col-sm-offset-2">
            <tr>
                <td>用户名</td>
                <td><input type="text" class="form-control form-group" name="user_name"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="text" class="form-control form-group"  name="password"></td>
            </tr>
            <tr>
                <td>年龄</td>
                <td><input type="text" class="form-control form-group"  name="age"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-success" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>